<div class="container mt-4">
    <h1>Stupid Coaching</h1>
    <form action="/answer" data-turbo="false">
        <input type="text" name="question" placeholder="Ask a question">
        <input type="submit" value="Ask!">
    </form>
</div>